.loader-container {
  padding-block-start: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #8b8b8b;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 140px);

  .mat-mdc-table {
    background-color: white;

  }
}

.pagination-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 20px;
  border-top: 1px solid hsl(0, 0%, 80%);
  background-color: white;
}
